######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Maven
######################
/log/
/target/
/wells-fargo-ach-service/target/**
/wells-fargo-api-client/target/**

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

